CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Python cache
__pycache__/

# Output directories
[Oo]utput
[Dd]ebug
[Rr]elease

# Documentation output
docs/out/

# Additional ignored files
OldQtCode/
WorkingDocs
**/imgui.ini

