# Permit the active local user to access the Hantek DSO-2250 via libusb.
SUBSYSTEM=="usb", ATTR{idVendor}=="04b4", ATTR{idProduct}=="2250", TAG+="uaccess"
